body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:1071px;
  background:inherit;
  background-color:rgba(181, 188, 186, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:81px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  position:absolute;
  left:381px;
  top:107px;
  width:537px;
  height:1071px;
}
#u452 {
  position:absolute;
  left:2px;
  top:528px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:1054px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  position:absolute;
  left:391px;
  top:115px;
  width:516px;
  height:1054px;
}
#u454 {
  position:absolute;
  left:2px;
  top:519px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:991px;
  background:inherit;
  background-color:rgba(29, 157, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  position:absolute;
  left:420px;
  top:158px;
  width:458px;
  height:991px;
}
#u456 {
  position:absolute;
  left:2px;
  top:488px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:66px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  position:absolute;
  left:519px;
  top:125px;
  width:261px;
  height:66px;
}
#u458 {
  position:absolute;
  left:2px;
  top:25px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:70px;
  background:inherit;
  background-color:rgba(165, 181, 167, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  position:absolute;
  left:373px;
  top:448px;
  width:8px;
  height:70px;
}
#u460 {
  position:absolute;
  left:2px;
  top:27px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:68px;
  background:inherit;
  background-color:rgba(165, 181, 167, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  position:absolute;
  left:373px;
  top:356px;
  width:8px;
  height:68px;
}
#u462 {
  position:absolute;
  left:2px;
  top:26px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:42px;
  background:inherit;
  background-color:rgba(165, 181, 167, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u463 {
  position:absolute;
  left:373px;
  top:278px;
  width:8px;
  height:42px;
}
#u464 {
  position:absolute;
  left:2px;
  top:13px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:112px;
  background:inherit;
  background-color:rgba(179, 191, 183, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  position:absolute;
  left:917px;
  top:371px;
  width:7px;
  height:112px;
}
#u466 {
  position:absolute;
  left:2px;
  top:48px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u467 {
  position:absolute;
  left:453px;
  top:172px;
  width:53px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u468 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u469 {
  position:absolute;
  left:785px;
  top:167px;
  width:28px;
  height:13px;
}
#u470 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:4px;
}
#u471 {
  position:absolute;
  left:784px;
  top:183px;
  width:30px;
  height:4px;
}
#u472 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u473 {
  position:absolute;
  left:844px;
  top:172px;
  width:18px;
  height:14px;
}
#u474 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u475 {
  position:absolute;
  left:820px;
  top:170px;
  width:19px;
  height:17px;
}
#u476 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:888px;
}
#u477 {
  position:absolute;
  left:420px;
  top:263px;
  width:458px;
  height:888px;
}
#u478 {
  position:absolute;
  left:2px;
  top:436px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
}
#u479 {
  position:absolute;
  left:442px;
  top:221px;
  width:16px;
  height:24px;
}
#u480 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u481 {
  position:absolute;
  left:493px;
  top:211px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:493px;
  top:240px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:161px;
}
#u485 {
  position:absolute;
  left:421px;
  top:263px;
  width:458px;
  height:161px;
}
#u486 {
  position:absolute;
  left:2px;
  top:72px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u487 {
  position:absolute;
  left:436px;
  top:291px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u489 {
  position:absolute;
  left:436px;
  top:329px;
  width:127px;
  height:16px;
  color:#CCCCCC;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u491 {
  position:absolute;
  left:436px;
  top:382px;
  width:233px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u493 {
  position:absolute;
  left:752px;
  top:314px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u494 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u495 {
  position:absolute;
  left:752px;
  top:356px;
  width:87px;
  height:34px;
  font-size:10px;
  color:#FFFFFF;
}
#u496 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:57px;
}
#u497 {
  position:absolute;
  left:429px;
  top:867px;
  width:441px;
  height:57px;
}
#u498 {
  position:absolute;
  left:2px;
  top:20px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:57px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u499 {
  position:absolute;
  left:429px;
  top:934px;
  width:441px;
  height:57px;
}
#u500 {
  position:absolute;
  left:2px;
  top:20px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:57px;
  background:inherit;
  background-color:rgba(24, 167, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#18A73E;
}
#u501 {
  position:absolute;
  left:429px;
  top:1001px;
  width:441px;
  height:57px;
  color:#18A73E;
}
#u502 {
  position:absolute;
  left:2px;
  top:20px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:57px;
  background:inherit;
  background-color:rgba(3, 159, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u503 {
  position:absolute;
  left:429px;
  top:1068px;
  width:441px;
  height:57px;
}
#u504 {
  position:absolute;
  left:2px;
  top:20px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505 {
  position:absolute;
  left:436px;
  top:873px;
  width:426px;
  height:45px;
}
#u505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u506 {
  position:absolute;
  left:436px;
  top:955px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u508 {
  position:absolute;
  left:805px;
  top:955px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u510 {
  position:absolute;
  left:621px;
  top:1022px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u512 {
  position:absolute;
  left:621px;
  top:1089px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u513 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u514 {
  position:absolute;
  left:420px;
  top:160px;
  visibility:hidden;
}
#u514_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u514_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:991px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:991px;
  opacity:0.3;
}
#u516 {
  position:absolute;
  left:2px;
  top:488px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  position:absolute;
  left:80px;
  top:390px;
  width:300px;
  height:123px;
}
#u518 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u519 {
  position:absolute;
  left:134px;
  top:415px;
  width:193px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u521 {
  position:absolute;
  left:79px;
  top:456px;
  width:300px;
  height:1px;
}
#u522 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u523 {
  position:absolute;
  left:230px;
  top:457px;
  width:1px;
  height:56px;
}
#u524 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u525 {
  position:absolute;
  left:134px;
  top:477px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u527 {
  position:absolute;
  left:283px;
  top:477px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u529 {
  position:absolute;
  left:80px;
  top:457px;
  width:151px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
